In [1]:
import pandas as pd 
import numpy as np 
import sqlite3 as sql

In [2]:
db = "chinook.db"
con = sql.connect(db)
def run(q):
    return pd.read_sql_query(q,con)

In [13]:
q = """with genre_info as (select g.genre_id, g.name Genre, count(inv.track_id) 'tracks'
        from genre g inner join track t on
        g.genre_id = t.genre_id inner join invoice_line inv on
        t.track_id = inv.track_id invoice in 
        on inv.invoice_id = in.invoice_id
        customer c on in.customer_id = c.customer_id
        where c.country = 'USA'
        group by 1)
        
        select gi.Genre, gi.tracks, cast(gi.tracks as float)/sum(gi.tracks) ratio from genre_info gi
        group by 1
"""
run(q)

DatabaseError: Execution failed on sql 'with genre_info as (select g.genre_id, g.name Genre, count(inv.track_id) 'tracks'
        from genre g inner join track t on
        g.genre_id = t.genre_id inner join invoice_line inv on
        t.track_id = inv.track_id invoice in
        on inv.invoice_id = in.invoice_id
        customer c on in.customer_id = c.customer_id
        where c.country = 'USA'
        group by 1)

        select gi.Genre, gi.tracks, cast(gi.tracks as float)/sum(gi.tracks) ratio from genre_info gi
        group by 1
': near "invoice": syntax error