In [1]:
import pandas as pd
import sqlite3 as sql

In [2]:
conn = sql.connect("jobs.db")
def run_q(q):
    return pd.read_sql_query(q,conn)

In [3]:
q = """SELECT * from sqlite_master where type='table'"""
run_q(q)

,type,name,tbl_name,rootpage,sql
0,table,recent_grads,recent_grads,2,"CREATE TABLE ""recent_grads"" (\n""index"" INTEGER..."

In [9]:
q= """select Major,min(Median) as min from recent_grads where ShareWomen > 0.5"""
run_q(q)

             Major    min
0  LIBRARY SCIENCE  22000

In [19]:
q= """select distinct Major_category from recent_grads"""
run_q(q)

                         Major_category
0                           Engineering
1                              Business
2                     Physical Sciences
3                   Law & Public Policy
4               Computers & Mathematics
5       Agriculture & Natural Resources
6   Industrial Arts & Consumer Services
7                                  Arts
8                                Health
9                        Social Science
10               Biology & Life Science
11                            Education
12            Humanities & Liberal Arts
13             Psychology & Social Work
14          Communications & Journalism
15                    Interdisciplinary

In [ ]:
q = """select Rank,Major,ShareWomen,Unemployment_rate from recent_grads where Major_category = 'Engineering'
and (ShareWomen < 0.5 or Unemployment_rate < 0.05) order by Major asc limit 10"""
run_q(q)