In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
response = requests.get("http://www.espncricinfo.com/rankings/content/page/211271.html")
response.status_code

200

In [3]:
content = response.content
# content

In [4]:
# response.json()

In [5]:
parser = BeautifulSoup(content,"html.parser")

In [6]:
parser.find_all("head")[0].title.text

'ICC Cricket Rankings - Current ICC Rankings for Tests, ODIs, T20 Cricket | ESPNcricinfo.com'

In [7]:
parser.head.title.text

'ICC Cricket Rankings - Current ICC Rankings for Tests, ODIs, T20 Cricket | ESPNcricinfo.com'

In [8]:
parser.select("head")[0].title.text

'ICC Cricket Rankings - Current ICC Rankings for Tests, ODIs, T20 Cricket | ESPNcricinfo.com'

In [9]:
parser.select("caption")[1].text

'02 October 2019'

In [10]:
data = parser.find_all("td", class_ = "left")

In [11]:
parser.find_all("tr")[7].find_all("td")[2].text

'27'

In [12]:
cric_format = parser.find_all("div", class_ = "ciPhotoContainer")[0].select("h3")
cric_format

[<h3>ICC Test Championship</h3>,
 <h3>ICC ODI Championship</h3>,
 <h3>ICC Twenty20 Rankings</h3>,
 <h3>ICC Women's ODI Team Rankings</h3>,
 <h3>ICC Women's T20 Team Rankings</h3>]

In [13]:
ranking = parser.find_all("table", class_ = "StoryengineTable")
ranking[0]

<table class="StoryengineTable">
<caption>15 September 2019</caption>
<tr class="head">
<th class="left">Pos</th>
<th class="left">Team</th>
<th class="left">Matches</th>
<th class="left">Points</th>
<th class="left">Rating</th>
</tr>
<tr>
<td class="left">1</td>
<td class="left">India</td>
<td class="left">35</td>
<td class="left">4027</td>
<td class="left">115</td>
</tr>
<tr>
<td class="left">2</td>
<td class="left">New Zealand</td>
<td class="left">26</td>
<td class="left">2829</td>
<td class="left">109</td>
</tr>
<tr>
<td class="left">3</td>
<td class="left">South Africa</td>
<td class="left">27</td>
<td class="left">2917</td>
<td class="left">108</td>
</tr>
<tr>
<td class="left">4</td>
<td class="left">England</td>
<td class="left">42</td>
<td class="left">4366</td>
<td class="left">104</td>
</tr>
<tr>
<td class="left">5</td>
<td class="left">Australia</td>
<td class="left">33</td>
<td class="left">3270</td>
<td class="left">99</td>
</tr>
<tr>
<td class="left">6</td>
<td class="left">Sri Lanka</td>
<td class="left">40</td>
<td class="left">3795</td>
<td class="left">95</td>
</tr>
<tr>
<td class="left">7</td>
<td class="left">Pakistan</td>
<td class="left">27</td>
<td class="left">2263</td>
<td class="left">84</td>
</tr>
<tr>
<td class="left">8</td>
<td class="left">West Indies</td>
<td class="left">32</td>
<td class="left">2570</td>
<td class="left">80</td>
</tr>
<tr>
<td class="left">9</td>
<td class="left">Bangladesh</td>
<td class="left">23</td>
<td class="left">1413</td>
<td class="left">61</td>
</tr>
<tr>
<td class="left">10</td>
<td class="left">Afghanistan</td>
<td class="left">3</td>
<td class="left">165</td>
<td class="left">55</td>
</tr>
<tr>
<td class="left">11</td>
<td class="left">Zimbabwe</td>
<td class="left">9</td>
<td class="left">140</td>
<td class="left">16</td>
</tr>
<tr>
<td class="left">12</td>
<td class="left">Ireland</td>
<td class="left">3</td>
<td class="left">0</td>
<td class="left">0</td>
</tr>
</table>

In [14]:
for i, value in enumerate(ranking):
    print(cric_format[i].text)
    print()
    print(value.caption.text)
    tr = value.find_all("tr")
    j = 0
    for t in tr:
        if j == 0:
            search = "th"
        else:
            search = "td"
        for y in t.find_all(search):
            print("{:20}".format(y.text), end = "")
        j+=1
        print()
    print()

ICC Test Championship

15 September 2019
Pos                 Team                Matches             Points              Rating
1                   India               35                  4027                115
2                   New Zealand         26                  2829                109
3                   South Africa        27                  2917                108
4                   England             42                  4366                104
5                   Australia           33                  3270                99
6                   Sri Lanka           40                  3795                95
7                   Pakistan            27                  2263                84
8                   West Indies         32                  2570                80
9                   Bangladesh          23                  1413                61
10                  Afghanistan         3                   165                 55
11                  Zimbabwe            9                   140                 16
12                  Ireland             3                   0                   0

ICC ODI Championship

02 October 2019
Pos                 Team                Matches             Points              Rating
1                   England             54                  6745                125
2                   India               58                  7071                122
3                   New Zealand         42                  4709                112
4                   Australia           50                  5543                111
5                   South Africa        47                  5193                110
6                   Pakistan            51                  5019                98
7                   Bangladesh          46                  3963                86
8                   Sri Lanka           56                  4520                81
9                   West Indies         48                  3675                77
10                  Afghanistan         40                  2359                59
11                  Ireland             29                  1466                51
12                  Zimbabwe            35                  1538                44
13                  Netherlands         6                   222                 37
14                  Scotland            15                  534                 36
15                  Namibia             8                   183                 23
16                  Oman                8                   174                 22
17                  Nepal               8                   152                 19
18                  USA                 8                   115                 14
19                  UAE                 15                  144                 10
20                  PNG                 17                  0                   0

ICC Twenty20 Rankings

10 October 2019
Pos                 Team                Matches             Points              Rating
1                   Pakistan            29                  7935                274
2                   England             16                  4253                266
3                   South Africa        18                  4720                262
4                   India               33                  8620                261
5                   Australia           21                  5471                261
6                   New Zealand         19                  4784                252
7                   Sri Lanka           24                  5777                241
8                   Afghanistan         20                  4696                235
9                   Bangladesh          20                  4483                224
10                  West Indies         24                  5378                224
11                  Zimbabwe            21                  4082                194
12                  Scotland            15                  2901                193
13                  UAE                 18                  3453                192
14                  Nepal               21                  4000                190
15                  Ireland             28                  5234                187
16                  Oman                9                   1678                186
17                  PNG                 22                  3834                174
18                  Netherlands         22                  3736                170
19                  Namibia             16                  2350                147
20                  Hong Kong           12                  1707                142
21                  Singapore           16                  2176                136
22                  Qatar               19                  2427                128
23                  Saudi Arabia        11                  1331                121
24                  Canada              13                  1568                121
25                  Jersey              17                  1910                112
26                  Italy               12                  1326                111
27                  Kuwait              13                  1354                104
28                  Denmark             14                  1438                103
29                  Kenya               12                  1229                102
30                  Bermuda             7                   716                 102
31                  Germany             18                  1527                85
32                  USA                 15                  1208                81
33                  Botswana            19                  1494                79
34                  Ghana               10                  773                 77
35                  Uganda              14                  1069                76
36                  Norway              10                  709                 87
37                  Nigeria             10                  708                 71
38                  Austria             11                  778                 71
39                  Guernsey            16                  1127                70
40                  Romania             6                   419                 70
41                  Malaysia            26                  1772                68
42                  Sweden              8                   465                 58
43                  Tanzania            6                   334                 56
44                  Cayman Islands      8                   430                 54
45                  Spain               12                  602                 50
46                  Philippines         9                   433                 48
47                  France              6                   267                 45
48                  Vanuatu             20                  869                 43
49                  Belize              9                   377                 42
50                  Luxembourg          10                  407                 41
51                  Peru                9                   356                 40
52                  Bahrain             7                   261                 37
53                  Mexico              12                  426                 36
54                  Fiji                6                   210                 35
55                  Panama              9                   291                 32
56                  Belgium             9                   290                 32
57                  Samoa               10                  318                 32
58                  Japan               10                  317                 32
59                  Costa Rica          8                   252                 32
60                  Argentina           12                  370                 31
61                  Hungary             6                   180                 30
62                  Mozambique          12                  352                 29
63                  Thailand            14                  369                 26
64                  Chile               10                  249                 25
65                  Malawi              12                  297                 25
66                  Israel              7                   173                 25
67                  Czech Republic      15                  355                 24
68                  Finland             13                  296                 23
69                  Bhutan              8                   180                 23
70                  South Korea         10                  217                 22
71                  Isle of Man         7                   149                 21
72                  Malta               11                  158                 14
73                  Bulgaria            5                   68                  14
74                  Sierra Leone        5                   61                  12
75                  Brazil              9                   108                 12
76                  Maldives            11                  114                 10
77                  St Helena           12                  109                 9
78                  Gibraltar           8                   35                  4
79                  Myanmar             9                   23                  3
80                  Indonesia           7                   3                   0
81                  China               11                  0                   0
82                  Gambia              6                   0                   0
83                  Swaziland           6                   0                   0
84                  Rwanda              6                   0                   0
85                  Lesotho             6                   0                   0

ICC Women's ODI Team Rankings

11 October 2019
Pos                 Team                Matches             Points              Rating
1                   Australia Women     25                  3784                151
2                   India Women         26                  3295                127
3                   England Women       27                  3303                122
4                   New Zealand Women   23                  2533                110
5                   South Africa Women  32                  3077                96
6                   West Indies Women   21                  1664                79
7                   Pakistan Women      21                  1613                77
8                   Sri Lanka Women     21                  1163                55
9                   Bangladesh Women    8                   387                 48
10                  Ireland Women       6                   110                 18

ICC Women's T20 Team Rankings

07 October 2019
Pos                 Team                Matches             Points              Rating
1                   Australia Women     25                  7331                293
2                   England Women       22                  6141                279
3                   New Zealand Women   18                  4963                276
4                   West Indies Women   22                  5682                258
5                   India Women         28                  7046                252
6                   South Africa Women  24                  5776                241
7                   Pakistan Women      25                  5688                228
8                   Sri Lanka Women     22                  4420                201
9                   Bangladesh Women    24                  4698                196
10                  Ireland Women       22                  3622                165
11                  Thailand Women      41                  6582                161
12                  Zimbabwe Women      20                  3153                158
13                  Scotland Women      19                  2759                145
14                  Nepal Women         17                  2181                128
15                  PNG Women           23                  2894                126
16                  UAE Women           19                  2326                122
17                  Uganda Women        25                  3036                121
18                  Samoa Women         15                  1816                121
19                  Tanzania Women      19                  1915                101
20                  Kenya Women         11                  1053                96
21                  Netherlands Women   19                  1640                86
22                  Indonesia Women     18                  1448                80
23                  Hong Kong Women     25                  1841                74
24                  Namibia Women       30                  2103                70
25                  China Women         23                  1554                68
26                  Japan Women         14                  751                 54
27                  Vanuatu Women       15                  734                 49
28                  Argentina Women     9                   428                 48
29                  Malaysia Women      27                  1183                44
30                  Rwanda Women        20                  851                 43
31                  Myanmar Women       10                  424                 42
32                  USA Women           9                   371                 41
33                  Jersey Women        7                   280                 40
34                  Kuwait Women        8                   309                 39
35                  Sierra Leone Women  8                   308                 39
36                  France Women        9                   333                 37
37                  Botswana Women      10                  368                 37
38                  Germany Women       7                   234                 33
39                  Nigeria Women       16                  478                 30
40                  Denmark Women       3                   85                  28
41                  Mexico Women        4                   100                 25
42                  Brazil Women        11                  256                 23
43                  South Korea Women   9                   159                 18
44                  Bhutan Women        6                   101                 17
45                  Malawi Women        3                   34                  11
46                  Mozambique Women    9                   94                  10
47                  Austria Women       6                   54                  9
48                  Belgium Women       3                   20                  7
49                  Chile Women         6                   33                  6
50                  Peru Women          6                   13                  2
51                  Singapore Women     10                  6                   1
52                  Fiji Women          12                  0                   0
53                  Norway Women        6                   0                   0
54                  Mali Women          6                   0                   0
55                  Lesotho Women       3                   0                   0